[Unit]
  Description=RabbitMQ Basic Service
  After=docker.service
  Requires=docker.service

[Service]
  Restart=always
  ExecStartPre=-/usr/bin/docker kill rabbitmq-basic
  ExecStartPre=-/usr/bin/docker rm -f rabbitmq-basic
  ExecStartPre=/usr/bin/docker pull tutum/rabbitmq
  ExecStart=/usr/bin/docker run --name rabbitmq-basic -d -p 5672:5672 -p 15672:15672 -e RABBITMQ_PASS="mypass" tutum/rabbitmq
  ExecStop=/usr/bin/docker stop -t 2 rabbitmq-basic
