[Unit]
  Description=cAdvisor Service
  After=docker.service
  Requires=docker.service

[Service]
  Restart=always
  ExecStartPre=-/usr/bin/docker kill simple-cadvisor
  ExecStartPre=-/usr/bin/docker rm -f simple-cadvisor
  ExecStartPre=/usr/bin/docker pull google/cadvisor
  ExecStart=/usr/bin/docker run --name simple-cadvisor --volume=/var/run:/var/run:rw --volume=/sys:/sys:ro --volume=/var/lib/docker/:/var/lib/docker:ro --publish=4194:4194 google/cadvisor --logtostderr --port=4194
  ExecStop=/usr/bin/docker stop -t 2 simple-cadvisor
